@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    height: 100%;
}

.p-button-primary {
    @apply bg-emerald-800;
    @apply border-0;
}


.p-button-secondary {
    @apply bg-red-400;
}



/*
    Issue rencontré avec le menu, lien github: https://github.com/primefaces/primevue/issues/5250
 */
.p-menubar .p-menuitem:first-child {
    margin-top: 1px;
}

.p-menubar .p-menuitem:last-child {
    margin-bottom: 1px;
}



